/.quarto/
/_site/

.quarto/
_book/
_freeze/

/.quarto/
.claude/

resources/
slides/
*.quarto_ipynb
*.db
*.ipynb
*.html
site_libs/*
.jupyter_cache
*.svg
*/*-listing.json

notebooks/.jupyter_cache/
notebooks/*_files/*
